@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Moon+Dance&family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New',;
    box-sizing: border-box;
    list-style: none;
}
.primary-btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 64px;
    background: #F15B22;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.primary-btn:focus{
    background-color: rgb(201, 19, 19);
}
.primary-btn:hover{
    color: green;
}
.primary-header{
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    color: #151414;
    text-align: center;
}
.primary-para{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #444343;
    word-spacing: 2px;
}
section{
    margin: 10px 200px;
}
body{
    width: 100%;
}
header{
    height: 800px;
    background: url(images/banner/bannerr.png)no-repeat center center/cover;
}
.header-title{
    width: 525px;
    float: right;
    margin: 200px 200px 24px 0;
}
.header-title>h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: right;
    color: #151414;
    text-align: right;
    letter-spacing: 3px;
    word-spacing: 15px;
}
.header-para{
    text-align: right;
    padding:20px 0px 32px 30px;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/* About Section Starts Here */
.about{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 300px 200px 100px 250px;
    position: relative;
}
.about>div{

}
.about-img{
    width: 600px;
    height: 600px;
    overflow: visible;
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(255, 186, 59, 0.412);
    transition: all 0.3s ease ease-in-out;
}
.about-img:hover{
    /* box-shadow: 10px 10px 2px rgba(255, 166, 0, 0.241),; */
}
.about-img>img{
    width: 650px;
    position: absolute;
    bottom: 0px;
    left: -25px;
}
.about-text{
    width: 40%;
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
}
.about-text>h2{
    padding: 0 90px 20px 0;
    line-height: 50px;
    text-transform: capitalize;
    word-spacing: 10px;
    margin-bottom: 25px;
    text-align:start;
}
.about .primary-para{
    padding-bottom: 20px;
}
.about-checkbox{
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
}
.about-checkbox .primary-para{
    line-height: 40px;
    padding-left: 10px;
}
.about-checkbox>div>input{
    /* visibility: hidden; */
}

.icon-div .fa-solid{
    color: rgb(143, 225, 19);
}
input:hover .fa-solid{
    color: red;
}

/* Skills Sector Starts Here */
.skills{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-top: 100px;
}
.skills .primary-header{
    padding-bottom: 50px;
}
.skills>.primary-para{
    padding-bottom: 40px;
    padding-top: 30px;
    text-align: center;
}
.skill-list{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 20px;
    margin: 0 200px;
}
.skill-list>li{
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    width: px;
    padding:0 20px;
    box-sizing: 2px 2px 40px black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.129);
    transition: all 0.3s all;
}
.skill-list>li:hover{
    background-color: beige;
    box-shadow: 2px 2px 20px rgba(255, 255, 0, 0.179);
    perspective: 95;
    cursor: pointer;
}
.skill-list>li:first-child{
    font-size: 30px;
    padding-bottom: 20px;
}
.skill-list:nth-child(2){
    font-size: 30px;
    padding-bottom: 20px;
}
.skill-list>li>img{
    width: 50px;
    padding-top: 35px;
    padding-bottom: 40px;
}
.fa-brands{
    color: rgb(6, 137, 173);
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.skill-list>li>b{
    font-size: 25px;
    padding-bottom: 10px;

}
.skill-list>li>p{
    padding-bottom: 50px;
}
.vscode{
    background: url(images/icons/vscode.png)no-repeat center center/cover;
    margin-bottom: -40px;
    margin-top: 30px;
}


/* My-plane statrs here */
.skills{
}
.skills-list{
}
.skills-list>li{

    
}

/* bland Starts Here */
.bland{
    background:linear-gradient(to right ,rgb(138, 3, 3), rgba(0, 255, 0, 0.478)), url(images/watch.png)no-repeat center center/cover;
    background-blend-mode: saturation;
    margin:50px 0;
    line-height: 150px;
    width: 100%;
}