@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Moon+Dance&family=Open+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New',;
    box-sizing: border-box;
}
.primary-btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 64px;
    background: #F15B22;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
}
body{
    width: 100%;
}
header{
    height: 700px;
    background: url(images/banner/bannerr.png);
}
.header-title{
    width: 525px;
    float: right;
    margin: 200px 200px 24px 0;
}
.header-title>h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: right;
    color: #151414;
    text-align: right;
}
.header-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    text-align: right;
    padding:20px 0px 32px 120px;
    word-spacing: 2px;
}
.btn-div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}